[Desktop Entry]
Name=PLY
Comment=Simple and lightweight music player
Exec=ply --gui %U
Icon=io.github.ahmedrapi79123_cyber.PLY-MUSIC-PLAYER
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;Music;
Keywords=Music;Audio;Player;MP3;OGG;WAV;
StartupNotify=true
MimeType=audio/mpeg;audio/ogg;audio/x-wav;audio/flac;audio/opus;
